body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#pixiCanvas {
    position: relative;
}

#StartOverlay {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(255, 255, 255);
    z-index: 2147483647;
}

#game_overlay {
    position: absolute;
    background-color: rgb(255, 255, 200);
    width: 100%;
    height: 70px;
}

#AED_icon {
    margin: 5px;
    float: left;
}

#end_overlay {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(255, 255, 255);
    z-index: 2147483647;
    display: none;

}

#end_title,
#end_time_text,
#end_per_text,
#end_time2_text,
#end_time3_text,
#end_time4_text,
#end_info_text {
    font-size: 28px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    margin: 2% auto auto auto;
}

#end_per_text {
    font-size: 50px;
}

#end_time2_text {
    font-size: 20px;
    margin: 1% auto auto auto;
}

#end_time3_text {
    font-size: 20px;
    margin: 1% auto auto auto;
}
#end_time4_text {
    font-size: 40px;
    margin: 2% auto auto auto;
}

#end_info_text {
    font-size: 16px;
    margin: 10% auto auto auto;
}

.box {
    margin: auto 2% auto 2%;
    height: 60vh;
    border: 5px solid #9b9b9b;
    border-radius: 5px;
    overflow-y: scroll;
}

#box_text {
    margin: 2%;
}

#title {
    margin: auto 2% auto 2%;
}

#button {
    display: flex;
    justify-content: center;
    margin: 2%;
}

#AgreeButton {
    width: 20%;
}

#rule {
    display: none;
}